body {
    background: #009900;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

table {
    font-size: 20px;
}

.buttons {
    width: 100px;
    height: 30px;
}

.textbox {
    width: 600px;
    height: 30px;
}